@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

* {
    box-sizing: border-box;
    min-width: 375px;
    padding: 0;
}

body {
    background-color: ghostwhite;
    color: black;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5%;
}

#navbar {
    position: fixed;
    top: 0;
    width: 375px;
    height: 100%;
    border-right: 2px solid black;
}

#nav-header {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
    overflow: hidden;
}

.nav-ul {
    width: 375px;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

nav ul li {
    list-style-type: none;
    font-size: 1.1rem;
    border-bottom: 1px solid black;
    text-indent: 2em;
    padding: 12.9px 0;
    overflow: hidden;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:visited {
    color: black;
}

#main-doc {
    position: absolute;
    padding: 0 20px;
    margin-top: 5%;
    margin-left: 400px;
    margin-right: 10%;
    line-height: 2;
}

header {
    font-size: 1.9rem;
    padding: 2rem 0;
}

li:first-of-type {
    padding-top: 0
}

.code-container {
    background-color: rgb(237, 232, 227);
    padding-top: 20px;
}

header:last-of-type {
    padding-bottom: 0;
}

/* Adjust navbar to smaller screen */

@media only screen and (max-width: 820px) {

    #navbar {
        position: absolute;
    }
}