

  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: 2px solid black;
    overflow: auto;
  }

  .nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding-bottom: 20px;
    font-size: 1.7rem;
    border-bottom: 2px solid black;
  }

  .nav-ul {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .nav-ul li {
    border-bottom: 1px solid black;
    text-indent: 20px;
    padding: 15px 0 15px 0;
  }

  .nav-ul li:first-of-type {
    padding-top: 0;
  }

  .nav-link {
    text-decoration: none;
    color: black;
  }

  .main-doc {
    margin-left: 350px;
    margin-top: 50px;
    z-index: 0;
  }

  